/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  @include container_box;
  color: $text_chocolate_color;

  &:after {
    @include clearfix;
  }
}

ul {
  list-style: none;
  li{
    a {
      text-decoration: none;
      color: $text_chocolate_color;
      font-size: .9em;
      padding: 10px;

      &.btn {
        @include btn_general_rules;

        img {
          width: 25px;
        }
      }
      &.btn.big {
        @include big_btn_rules;
      }
    }
  }
}
