header {
  @include box_1170;
  align-items: center;
  line-height: 50px;
  img {
    vertical-align: middle;
  }
  .header-top {
    @include flex_main;
    border-bottom: 1px solid;
    padding: 5px 10px;
  }
  nav {
    font-weight: bold;
    ul {
      li {
        @include float_left;
        margin-left:20px;
      }
    }
    ul.desktop-navigation {
      display: none;
    }
    &.bars {
      display: block;
    }
    .small-device-menu {
      .hidden {
        display: none;
      }
    }
    .mobile-menu {
      display: none;
      background: #fff;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      .mobile-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &.active {
        display: block;
      }

    }
  } // End nav
  .jambotron {

    .teaser {
      width: 100%;
      @include float_left;
      h1 {
        font-size: 2.8em;
        line-height: 1.8em;
        letter-spacing: 2px;
      }
      h2 {
        font-size: 1.5em;
        line-height: 35px;
        margin: 10px 0px 20px 0;
        font-weight: 500;
      }
    }
    .illustration {
      width: 100%;
      @include float_left;
      img {
        width: 100%;
      }
    }
  } // End jambotron
} // End header
