main {
  // SECTION COMMON
  section {
    h2{
      font-size: 2.8em;
      line-height: 70px;
    }
    h3 {
      width: 50%;
      display: inline-block;
      font-size: 1.6em;
      line-height: 45px;
    }
    // SECTION INFO
    &.section-info {
      background-color: $primary_company_bg;
      min-height: 100px;
      text-align: center;

      .traditional-processes,
      .teambit-solution {
        @include box_1170;
        padding: 50px 0;
      }
      .illustration-box {
        @include float_left;
        padding: 20px;
        width: 100%;
        img {
          height: 130px;
        }
        p {
          font-size: 1em;
        }
      }
      .teambit-banny img {
        width: 100%;
        padding: 40px;
        margin: 40px 0 60px 0;
      }
      .teambit-solution {
        border-top: 1px solid $text_chocolate_color
      }
    }
    // SECTION FEEDBACK
    &.section-feedback {
      .illustration {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .description {
        width: 100%;
        font-size: 1.4em;
        h3 {
          width: 100%;
        }
        p {
          line-height: 35px;
        }
        .link a {
          color: $dark_blue_color;
        }
        .illustration-img img {
          width: 100%;
          margin-top: 20px;
        }
      }
    } // End section feedback

    .chat {
      margin: 50px 0;
      padding: 20px;
      background: #fff;
      border: 1px solid $dark_blue_color;
      border-radius: 10px;
      text-align: left;
      display: inline-block;
      width: 90%;
      position: relative;
      .quote {
        position: absolute;
        top: -22px;
        left: 0;
        color: $dark_blue_color;
        font-size: 2.2em;
      }
      .owners,
      .credits {
        display: inline-block;
        vertical-align: middle;
        img {
          margin-right: 20px;
        }
        a {
          color:$dark_blue_color;
        }
      }
    }
  } // End section
} // End main
