main {
  // SECTION COMMON
  section {
    h3 {
      width: 50%;
      display: inline-block;
      font-size: 1.6em;
      line-height: 45px;
    }
    // SECTION INFO
    &.section-info {
      background-color: $primary_company_bg;
      min-height: 100px;
      text-align: center;

      .traditional-processes,
      .teambit-solution {
        @include box_1170;
        padding: 50px 0;
      }
      .illustration-box {
        @include float_left;
        padding: 20px;
        width: 100%;
        img {
          height: 130px;
        }
        p {
          font-size: 1em;
          padding: 20px 0;
        }
      }
      .teambit-banny img {
        height:  400px;
        margin: 40px 0 60px 0;
      }
      .teambit-solution {
        border-top: 1px solid $text_chocolate_color
      }
    }
    // SECTION FEEDBACK
    &.section-feedback {
      .illustration {
        width: 50%;
        img {
          width: 100%;
        }
      }
      .description {
        width: 25%;
        font-size: 1.4em;
        h3 {
          width: 100%;
        }
        p {
          margin: 50px 0;
          line-height: 35px;
        }
        .link a {
          color: $dark_blue_color;
        }
        .illustration-img img {
          width: 100%;
          margin-top: 20px;
        }
      }
    } // End section feedback

  } // End section
} // End main
