@mixin container_box {
  width: 100%;
  padding: 30px 0;
}

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
@mixin btn_general_rules {
  display: block;
  line-height: 20px;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  background-color: $dark_blue_color;
  margin: 5px 50px;
}
@mixin big_btn_rules {
  background-color: $light_blue_color;
  color: #2c4792;
  padding: 12px;
}
@mixin box_1170 {
  max-width: 1170px;
  margin: 0 auto;
  color: $text_chocolate_color;
}
@mixin flex_main {
  display: flex;
  justify-content: space-between;
}
@mixin float_left {
  float: left;
}
@mixin float_right {
    float: right;
}
