// ======================= 480px ============================
@media all and (min-width:480px) {

}

// ======================= 768px ============================
@media all and (min-width:768px) {
  header nav ul.desktop-navigation {
    display: block;
  }
  header nav .mobile-navigation {
    display: none;
  }

  main section.section-info .traditional-processes .illustration-box,
  main section.section-info .teambit-solution .illustration-box {
    width: calc(100% / 3);
  }
}

// ======================= 960px ============================
@media all and (min-width:960px) {

}
